body {
	font-family: 'Raleway', sans-serif;
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) ), url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
	/* background-color: #EDEFF8; */
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	width: 100%;
}

textarea{ 
	resize:none;
}

.delete-form {
	display: inline;
}

.card {
	padding: 0;
}

.card img {
    width: 100%;
}

.card .caption-full {
	padding: 2%;
}

.checked {
    color: orange;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

/* CONFIMED STYLE START */

/* Back to top button */
html {
  scroll-behavior: smooth;
}

#btnScrollTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 2.5rem;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	transition: 300ms;
	border-radius: 10%;
}

#btnScrollTop:hover {
	background-color: transparent;
	color: darkred
}
/* Back to top button */

/* alert style */
#alert {
	margin-top: 1%;
}
/* alert style */

#noReview {
	margin-left: 2%;
}

#reviewBtn {
	margin-left: 18px;
	margin-bottom: 18px;
}

/* CONFIMED STYLE END */

/* 	test */

.row {
	padding-bottom: 2%;
}

.btn-sm {
	display: inline-block;
}

.caption h4 {
	font-size: 1.1rem;
	padding-top: 4%;
}

.nav-info {
	color: white;
	padding: 10px
}

.jumbotron {
	/* background-color: #d7d7d7; */
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url("https://images.unsplash.com/photo-1593198821458-31c3311fe9db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80");
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: fill;
}

.jombotronText {
	color: whitesmoke
}

.btn-light:hover {
    background-color: orange;
    color: whitesmoke;
}

.btn-outline-light:hover {
    background-color: orange;
    color: whitesmoke;
}

#mainNavbar {
    font-size: 1.1rem;
    font-weight: 100;
    background: #838399; 
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    /* color: rgba(0, 0, 0, 0.8);
    background-color: rgba(222, 222, 222, 0.5); */
    color: orange;
    background-color: transparent;
    border-radius: 0.35rem;
}

#mainNavbar .navbar-brand {
    color: white;
    font-size: 2rem;
	font-family: 'Baloo Da 2', cursive;
}

#mainNavbar .navbar-brand:hover {
    color: orange;
}


